<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="ws">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/TeenService/" binding="wsHttpBinding"
                bindingConfiguration="ws" contract="wcfTeens.ITeenService"
                name="ws" />
        </client>
    </system.serviceModel>
</configuration>